<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>404 - page</title>
</head>

<body>
    {{>header}}
    <p>{{errorMessage}}</p>

    {{>footer}}
</body>

</html>