<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>About</title>
</head>

<body>
    {{>header}}
    <div class="img__container">
        <img class="img" src="/images/mario_num_One.JPG" alt="my photo" />
    </div>
    <p class="img__desc">{{name}}</p>


    {{>footer}}
</body>

</html>