<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <title>Weather</title>
    <script src="/js/app.js" defer=""></script>
</head>

<body>
    {{>header}}
    <p>Use this site to get your weather</p>
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="msg-1" class="paragraph"></p>
    <p id="msg-2" class="paragraph"></p>

    {{>footer}}
</body>

</html>